extends ../../_page

block page-content
  div(class="render" data-page-id="270")
  p UX Zen was a project of passion. I wanted to keep my Twitter feed active and share the things I found that made me feel good about being a UX Designer.
  p I wanted this to be more than just a automatic link-sharer. I waited a long time before starting the project, collecting 365 quotations and links that really spoke to me.
  +img('uxz_home', 'snug')
  p
    em The home screen shows a borderless immersion of great design and ideas. The sidebar populates with a random selection of "zens" from those that are published.
  p At the same time, I had been collecting my favorites of favorites in visual designs into a folder so I could browse over them now and then for inspiration.
  p Once I reached 365 "zens," I started the design by pulling a few of these designs from the photoset and automatically scheduling the posts to publish daily and tweet to my Twitter account.
  +img('uxz_single', 'snug')
  p
    em Each quotation is set in this beautiful thin display font.
  p Once I hit 365, I'm not sure if I'll create another 365 or curate the previous list for the best of the best and fill in the gaps.
