extends ../../_page

block page-content
  div(class="render" data-page-id="1100")

  p Mozart was a JavaScript project designed to explore a different way of organizing frontend code.

  p After playing with modern frameworks like React, Angular, Vue, and so on, I felt I needed another convention that could work with or without these frameworks, but allow my code to live in three distinct domains: Events, 

  p Front end coding is getting out of hand. Projects that could easily robust and lightweight implementations fall into the pit of throwing in complex single page app frameworks to solve their needs.

  p Yet JavaScript already supports many of the basic parts of these frameworks on its own. The author of Mozart believes it's the organization of code we're really running after with gargantuan frameworks.

  p Mozart is not a framework. In fact, it's a small file that actually does very little more than give you some guide rails to adhering to a pattern.

  p Mozart uses the Scoped Component pattern to logically organize the entire front end into "components". Each of which has an API, routes, and events.
