extends ../../_page

block page-content
  div(class="render" data-page-id="900")

  :markdown
    I have the pleasure of working with an amazing engineering and product team in Apple Retail Technology. Our team mainly supports the Today at Apple program and screen-driven experiences in stores.
