extends ../layout

block content
  .template
    header.page-details
      h1 Loading
      h2 ...
      h3 ...

    main.page-content
      .tl-spine
        .tl-spine-dot.tl-spine-dot_employer
          .tl-spine-dot-marker.img-rounded
          article
            h1 Loading...
            h2 ...
            h3
              a ...

            .content

  div(class="render" data-page="#{page}")
