div(ng-controller='ProjectsCtrl')
	#timeline
	.row(ng-repeat="project in projects | filter: {duplicate: false}")

		.col-lg-8.col-lg-offset-2
			.tl-spine.pointer(ng-click="setLocation(slug(project.category))")
				.tl-spine-dot(ng-hide="project.employer") 
					.tl-spine-dot-marker.img-rounded
					h4
						a.pointer(href="#/{{slug(project.category)}}") {{project.name}}
						br
						small {{project.year}}
				.tl-spine-dot.tl-spine-dot_employer(ng-show="project.employer") 
					.tl-spine-dot-marker.img-rounded
					.pr-img.pr-img_featured.img-responsive(
						class="pr-img_{{slug(project.name)}}"
					)
					h1
						a.pointer(href="#/{{slug(project.category)}}") {{project.name}}
						br
						small {{project.year}}
					p {{project.shortDesc}}
					p.text-muted {{project.technologies}}

			.clearfix