.jumbotron
	.container
		.row
			.col.col-lg-12
				h1 Adam Kochanowicz
				p.lead UX Designer and Full Stack Developer
		br
		.row.hidden-xs
			.col.col-sm-2 &nbsp;
			.col.col-sm-2(ng-click="setLocation(category.slug)", ng-repeat="category in categories")
				img.img-responsive.pointer.center-block(src="/img/hex-{{category.slug}}.png")
				p.small {{category.name}}
.container
	.row
		.col.col-md-8.col-md-offset-2
			.timeline-icon.hidden-xs(ng-click="scrollToId('timeline', 100, 200)")
			h1#timeline Timeline
			br
			.tl-spine.tl-spine_hoverable.pointer(ng-repeat="project in projects | filter: {showOnHomePage: true} | orderBy: 'id':true" ng-click="setLocation(slug(project.category), slug(project.name))")
				.tl-spine-dot.hover-grp(ng-hide="project.big") 
					.tl-spine-dot-marker.img-rounded
						.tl-spine-dot-marker-yearFlag {{project.year}}
					br
					.row
						.col.col-md-6
							h4
								a.pointer(href="#/{{slug(project.category)}}") {{project.name}}
						.col.col-md-6
							p.show-hover {{project.shortDesc}}
							p.show-hover
								small.text-muted {{project.technologies}}
				.tl-spine-dot.tl-spine-dot_employer(ng-show="project.big") 
					.tl-spine-dot-marker.img-rounded
						.tl-spine-dot-marker-yearFlag {{project.year}}
					br
					.row
						.col.col-md-6
							h1
								a.pointer(href="#/{{slug(project.category)}}") {{project.name}}
							p {{project.shortDesc}}
							p.text-muted {{project.technologies}}
						.col.col-md-6
							.pr-img.pr-img_featured.img-responsive(class="pr-img_{{slug(project.name)}}")

			.clearfix