div(ng-controller='ProjectsCtrl')
	article.row(ng-repeat="project in projects | filter: {duplicate: false}")
		.col.col-lg-4.col-lg-offset-2.col-md-6
			.pr-img.pr-img_featured.img-responsive(
				style="margin-top: 42px"
				class="pr-img_{{slug(project.name)}}"
			)
		.col.col-lg-4.col-md-6
			.page-header
				h1
					a.pointer(href="#/{{slug(project.category)}}") {{project.name}}
					br
					small {{project.year}}
			p {{project.shortDesc}}
			p.text-muted {{project.technologies}}