<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="description" content="The Elegant Frontend Framework">
    <meta name="author" content="Adam Kochanowicz">
    <script src="https://jspm.io/system@0.4.js"></script>
    <link rel="stylesheet" href="css/kickstrap.css">
  </head>
  <body>
    <div id="sf-wrap">
      <div id="top" ng-controller="ProjectsCtrl" class="container_max">
        <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" class="navbar-toggle"><span class="sr-only">Toggle Navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand hidden-sm">Adam Kochanowicz</a>
            </div>
            <div class="ks-afterload">
              <div onclick="$('.navbar-collapse').collapse('hide')" class="navbar-collapse collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                  <li class="{{selectedCategory().slug == 'home' ? 'active' : ''}}"><a href="/">Home</a></li>
                  <li ng-repeat="category in categories" class="{{selectedCategory().slug == category.slug ? 'active' : ''}}"><a ng-click="setLocation(category.slug, 'top', true)" class="pointer">{{category.name}}	</a></li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
        <section class="ks-beforeload">
          <div class="container"><img src="/img/loading.gif" class="center-block"></div>
        </section>
        <section ng-view></section><script type="text/javascript">
(function() {
  k$.ready(function() {});

}).call(this);
</script>
      </div>
      <div id="sf-push"></div>
    </div>
    <section id="sf-footer" class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a href="#">&copy; Adam Kochanowicz</a></li>
          <li><a href="mailto:ajkochanowicz@gmail.com">Contact me</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li><a href="http://getkickstrap.com">Powered by<span class="kickstrap-logo">Kickstrap</span></a></li>
        </ul>
      </div>
    </section>
  </body>
  <script src="//cdn.firebase.com/v0/firebase.js"></script>
  <script src="js/kickstrap.js"></script>
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1315296-16']);
    _gaq.push(['_trackPageview']);
    
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script src="//use.typekit.net/pvn6abu.js"></script>
  <script>
    try{Typekit.load();}catch(e){}
    
  </script><script type="text/javascript">
(function() {
  k$.ready(function() {
    return setTimeout(function() {
      return jspm["import"]('ks:featuredimages');
    }, 700);
  });

}).call(this);
</script>
<script type="text/javascript" src="//cdn.mailto.ninja/js/v0/mailto.ninja.js"></script>
<script type="text/javascript">mailto.ninja()</script>
</html>
