extends ../../_page

block page-content
  h1 Everything.io
  p Everything.io is an "Operating System for your Stuff." In the same way your computer keeps track of your files, EIO (as I call it) keeps track of your physical possessions. Although conceivably any thing you own can be added to the app via barcode or manual entry, I'm also building this to anticipate the Internet of Things (IoT). As such, much of the technology will support websocket-connected cloud devices.
  p I'm giving the UX attention of the app higher attention than usual. I don't think users will initially be won over by the feeling that they 
    em  need
    |  the app, even though it can save them money by keeping things circulating through their fridge before expiring.
  p The experience and design of the app should be good enough that people will want to use it even if they find it useless. Of course, I hope that won't be the case.
  +img('eio_icon_design1', 'snug')
  p
    .thumbnail
      .row
        .col.col-md-3
          img.img-responsive(src="/img/eio_icon_design1.png")
        .col.col-md-3
          img.img-responsive(src="/img/eio_icon_design2.png")
        .col.col-md-3
          img.img-responsive(src="/img/eio_icon_design3.png")
        .col.col-md-3
          img.img-responsive(src="/img/eio_icon_design4.png")
      .clearfix
      br
      .row
        .col.col-sm-12
          img.img-responsive(src="/img/eio_icon_design5.png")
      .caption Each icon has a clear foreground and background and is measured to a consistent grid template.
  br
  p Icon design is one of those things that seems so simple. 
  p After all, they're just little pictures. I learned this very early on as a designer that sometimes the (literally) smallest things are the hardest to do. I learned how hard it was to create a typeface by struggling over just one letter with Kickstrap. I learned from several many icon iterations with Ipreo how difficult it was to convey an idea with only 14 pixels squared.
  p I relied on old standby methods for EIO by creating a grid, using a color scheme, and sticking to chosen metrics and shapes--reusing them whenever I could.
  p
    .thumbnail
      .row
        .col.col-md-4
          img.img-responsive(src="/img/eio_kitchen.png")
        .col.col-md-8
          img.img-responsive(src="/img/eio_live.png")
      .caption I regard the kitchen as the most important room in the app and thus spent the most time on its design.
  br
  p The most time I spent on icons was those that belonged to the Kitchen. This is for two reasons: The early release of the app may only have the kitchen, without any "Room" context to begin with.
  p Second, as far as our dealing with possessions, nothing beats food. Edibles are the products we purchase and consume most often. So it follows the app should be optimized for handling expiration dates, quantities, and hopefully online grocery delivery.
  p
    .thumbnail
      .row
        .col.col-md-8
          h3 App Experience
          p "Could someone copy my idea but make it simpler?" My goal is to make the answer to that question "no."
          p A universal platform for tracking and controlling any kind of possession just doesn't exist yet--not for your everyday consumer. It's more interesting to me to create a product that is fundamental rather than is original.
          p I constantly asked myself "what is the number 1 way to design &quot;x&quot;?" This approach led me to a very minimalist "app screen" appearance for the rooms and the items in the room. The user's mental model shouldn't have to be rebuilt each time they move from screen to screen.
          p However, there is also a danger in being 
            em too consistent.
          p If two screens serve two very different purposes or represent different things, there should be visual cues to immediately represent this. For that reason, the home screen is blue and the rooms screens are white with heading text.
          p This separation is both for branding and to subtly denote being "outside" and "inside" the virtual house. That is, the sky is usually blue and walls are usually white. (See the "Kitchen" screen above.)
          p The third view is a detail view which embellishes nothing. Backward and forward actions are left- and right-bound, respectively. The logo takes you home. The heading tells you where you are. Chevrons denote navigation, buttons denote actions.
          p I see screens like this as intermediate steps of the best parts of the experience. They need to take up very little of the display of the app. Users want to fill them out and get them out of the way as soon as possible.
        .col.col-md-4
          img.img-responsive(src="/img/eio_rooms.png")
          br
          img.img-responsive(src="/img/eio_detail.png")		

  p
    .thumbnail
      .row
        .col.col-md-8
          h3 Logo
          p Rarely do I stick to the first logo idea I come up with. For EIO, while I did use my first idea, I also iterated over the finer details of the "e" possibly hundreds of iterations over.
          p I have an obsession with typography, so type logos are usually my first pick. The lowercase e has always seemed to be the happiest letter in the alphabet. It looks as though it is smiling.
          p By levitating the bowl of the E above the lower counter, I am subtly nodding to a character used in formal logic to denote "all," this is a capital A with a horizontal line above it.
        .col.col-md-4
          img.img-responsive(src="/img/eio_logo.png")		
    
