extends layout.jade
include _mixins

block variables
  - var title = ""
  - var navClass = ""

block content
  .template
    header.page-details
      .thumbnail
      h1 Loading
      h2 ...
      h3(data-component="year-marker") ...
      h4

  .paper(data-page="single")
    block page-content
