extends layout.jade

block variables
  - var title = ""
  - var navClass = ""

block content
  .template
    header.page-details
      h1 Loading
      h2 ...
      h3 ...

  .paper(data-page="single")
    block page-content
