extends layout

block content
  .template
    header.page-details
      h1 Loading
      h2 ...
      h3 ...

    main.page-content
      .tl-spine
        .tl-spine-dot.tl-spine-dot_employer
          .tl-spine-dot-marker.img-rounded
            .tl-spine-dot-marker-yearFlag
          article
            h1 
              a(href="") Loading...
            h2 ...
            p.link
            h3.also-see
            p.technologies
              | Technologies&nbsp;
              span

            .content


  header.hero
    h1 Adam Kochanowicz

  div(class="render" data-page="#{page}")
    p
      em Loading...
