extends layout

block content
  .template
    header.page-details
      h1 Loading
      h2 ...
      h3 ...

    main.page-content
      .tl-spine
        .tl-spine-dot.tl-spine-dot_employer
          .tl-spine-dot-marker.img-rounded
            .tl-spine-dot-marker-yearFlag
          article
            .thumbnail
            h1 
              a(href="") Loading...
            h2 ...
            p.link
            h3.also-see
            p.technologies
              | Technologies&nbsp;
              span

            .content


  header(data-component="hero")
    h1 Adam Grant
    video(autoplay loop poster="")
      source(src="videos/adamgrant.webm" type="video/webm")
      source(src="videos/adamgrant.mp4" type="video/mp4")

  .paper
    div(class="render" data-page="#{page}")
      p
        em Loading...
