doctype html
block variables
  - var title = "Designer and Developer"
  - var navClass = "home"

include ../../lib-core/jade/mixins.jade

html(lang='en')
  head
    link(rel="stylesheet" href="/css/style.min.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
    title Adam Grant - #{title}
    script(src="//use.typekit.net/pvn6abu.js")
    script try{Typekit.load();}catch(e){}
  body
    header.navigation(data-ks-navbar class="#{navClass}")
      nav
        ul
          li.navbar-title
            h1
              a(href="/") Adam Grant
            button(role="button") =
          li: a(data-category="1" href="/mobile") Mobile
          li: a(data-category="2" href="/development") Development
          li: a(data-category="3" href="/design") Design
          li: a(data-category="0" href="/delights") Delights

        ul
          li: a(href="/bio") Bio
          li: a(href="//blog.adamgrant.me") Blog

    main.main
      block content

    footer.main
      .wrapper

    script(src="/js/script.min.js")
