doctype html
block variables
  - var title = "Designer and Developer"

html(lang='en')
  head
    link(rel="stylesheet" href="/css/style.min.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
    title Adam Kochanowicz - #{title}
    script(src="//use.typekit.net/pvn6abu.js")
    script try{Typekit.load();}catch(e){}
  body
    header.navigation
      nav
        ul
          li.navbar-title
            h1 
              a(href="/") Adam Kochanowicz
            button(role="button") =
          li: a(data-category="0" href="/delights") Delights
          li: a(data-category="1" href="/mobile") Mobile Experiences
          li: a(data-category="2" href="/development") Full Stack Development
          li: a(data-category="3" href="/design") Design

        ul
          li: a(href="http://adamslists.com") Adam's Lists

    .paper
      main.main
        block content

    footer.main
      .wrapper

    script(src="/js/script.min.js")
