extends ../../_page
include ../../_mixins
block page-content
  :markdown
    # The Comedy Cellar
    
  +img('comedycellar01', 'left')
  +img('comedycellar02', 'left')
  :markdown
    The Comedy Cellar has been offering a discount to patrons of their regular stand-up comedy shows on drinks and food at the owner's neighboring bar, The Fat Black Pussycat.
    
    I was convinced the design and flow of the reservation process was not conduisive to getting patrons to use their discount.
    
    I approached the owner with a plan to send users a virtual stack of cards they could access from their phones. Patrons would bring their phones with them and would need to pull up the reservation before entering the show. At all times, they are carrying the discount card with them and have more of a feeling that it is literally in their pocket, ready to be used.
