extends ../../_page
include ../../_mixins
block page-content
  :markdown
    # The Comedy Cellar
    
  +img('comedycellar01', 'right')
  +img('comedycellar02', 'right')
  :markdown
    The Comedy Cellar has been offering a discount to patrons of their regular stand-up comedy shows on drinks and food at the owner's neighboring bar, The Fat Black Pussycat.
    
    I was convinced the design and flow of the reservation process was not conduisive to getting patrons to use their discount.
    
    I approached the owner with a plan to send users a virtual stack of cards they could access from their phones. Patrons would bring their phones with them and would need to pull up the reservation before entering the show. At all times, they are carrying the discount card with them and have more of a feeling that it is literally in their pocket, ready to be used.
    
    The application worked very similarly to the Passbook app for iOS. Each card held a fixed amount of content and could be pulled out of the deck by tapping.
    
    Every patron to the Comedy Cellar automatically gets a great discount at The Fat Black Pussycat, the owner's neighboring bar. Yet, the number of people who used the discount was underwhelming.
    
    I believed most of that reason was due to the site's design and overall reservation creation experience. Revamping it was a huge task, so we collaborated on a way to give patrons an interactive set of cards on their phones.
    
    Because the cards were designed for the phone, touch-sensitive, and readable, users were more likely to carry them around and refer to them over an email.
    
    By designing one of the cards as the discount coupon, it was easy for patrons to see the coupon, feel they already "owned" it, and be reminded of it at a more appropriate time.
