extends ../../_page

block page-content
  div(class="render" data-page-id="90")
  p The premise of Powabunga is a bit difficult to explain, but once you start using it it turns out to be a very cool product.
  p Imagine a spin of a typical auction. Someone wants $100 for a product they're selling. Instead of trying to reach $100 as the auction price, they sell 100 auction seats for $1 each. By the time the auction has started, the seller has already collected her money.
  p The bidders can then bid on the product with an arbitrary currency (carrots) earned on the site by performing different tasks, or by trading the currency amongst each other.
  p The advantage to the seller is that she can name his price. She can even sell money.
  p The advantage to the buyer is that, with enough carrots, she can buy something very expensive for only one dollar.
  p I was assigned to do several odd jobs on the site including some promotional videos and artwork for the home page. The hardest assignment was in developing a page with featured auctions, written in Java Spring MVC. 
  p The featured auctions section would take one item every hour or so, and offer high carrot bonuses to users who entered paddles (the $1 auction seats). I was assigned to create the timer to cycle through these featured items and to create a frontend interface to greet users with the new system.
