extends ../../_page

block page-content
  h1 Coolpages2000
  
  p "Coolpages2000" was my final, successful attempt at registering a geocities.com name I liked. I must not have tried very hard. 
  p The main influence of creating Coolpages2000 was to test out some new impressive coding techniques I had learned in my father's computer book library. I wanted to get them to work on my own page, and the shiny Netscape Browser was up to the task.
  p As a mission statement, I was intending on using CP2K to advertise my design prowess, and hopefully pick up some clients who would pay me to design their pages.
  p While I never did manage to find clients (not that I looked very hard), I did manage to impress myself with the ability to master the image rollover technique. This is simply the ability to show one image by default, and another, replacement image after rollover.
  p Nowadays, this is quite easy to accomplish with a simple CSS pseudoclass. However, at the time it was a much more complicated process.
  p Beyond the rollovers, I got my hands dirty with basic and now outdated HTML design techniques. (HTML was used for styling in those days.)
  p Unfortunately, with the closing of GeoCities, so too did the budding CP2K meet its demise.
