extends layout

block variables
	- var active = 'home'

block content
	include _header

	section.ks-beforeload
		.container
			img.center-block(src="/img/loading.gif")
	section.ks-afterload(ng-view)

	:coffeescript
		k$.ready ->  