
<p>The Comedy Cellar has been offering a discount to patrons of their regular stand-up comedy shows on drinks and food at the owner's neighboring bar, The Fat Black Pussycat.</p>
<p>
  <div class="thumbnail">
    <div class="row">
      <div class="col col-md-6"><img src="/img/cc_cards1.png" class="img-responsive"/></div>
      <div class="col col-md-6"><img src="/img/cc_cards2.png" class="img-responsive"/></div>
    </div>
    <div class="caption">Users can tap on a card to bring it into view.</div>
  </div>
</p>
<div class="clearfix"></div><br/>
<p>The application worked very similarly to the Passbook app for iOS. Each card held a fixed amount of content and could be pulled out of the deck by tapping.</p>