extends ../_page

block variables
  - var title = "Bio"
  - var navClass = "bio"

block page-content
  div(data-page="bio")
    .page-details
      h1 Bio

    main.bio
      article
        :markdown
          Adam Grant (born Adam Kochanowicz) is a developer for Apple
          living in Menlo Park, California.

          ## About This Portfolio

          This portfolio is built dependency-free, aside from Kickstart, my own CSS
          library. No jQuery or UI-binding library was used. All assets are precompiled from
          CoffeeScript, Jade, and Sass. You can explore the code on the [GitHub Repo](https://github.com/adamjgrant/Portfolio-v3).

          ## Early Life

          Adam's father, Thomas Kochanowicz was a software developer and Certified
          Java Programmer (CJP) from Omaha Nebraska. Before his death in 2013, he
          developed an online classified ads website called BlueAds.com, one year
          before the invention of Craigslist. He also filed three patents for
          woodworking equipment. Adam's mother, Sharon, is a Nurse Practitioner, also 
          in Omaha.

          Adam began tinkering with computers with his family at a very early age. His
          father helped him to build his own computer with parts at a local computer store.
          From his father's work he received copies of otherwise expensive operating systems
          and development software. He experimented with Symantec Visual Page for creating
          HTML websites (see [Edupedia](/delights/edupedia/), [Adeus](/delights/adeus/), and
          [Fake Chat](http://localhost:3000/delights/fake-chat/))

          When he wasn't on the computer, he would take apart his old toys and electronics
          to see how they worked. On at least one occasion, he was able to assemble a working
          radio using only parts from a computer speaker, some magnets, and batteries.

          In sixth grade, he developed an interest in French after reading about France
          in an encyclopedia. He soon discovered a small subset of French-speaking 
          Omahaans thanks to the francophone West African population. He found himself
          speaking French on a regular basis with friends, eventually gaining fluency as
          an adult.

          ## Life in New York

          In 2011, Adam moved to Lauzerte, France where he worked at a luxury spa
          marketed as a Vegan Weight-loss Bootcamp. There, he helped with tasks around the
          spa but mostly fulfilled his main role as a developer on the owners's auction
          website, [Powabunga](/development/powabunga/).

          Three months later, he moved to New York City, living in Harlem, the Upper West Side
          and, finally meeting his wife Sylviane Grant and moving to Union Square.

          During his time in New York, he developed an extension framework for Bootstrap
          called [Kickstrap](/development/kickstrap/). Becoming frustrated with the 
          landscape of CSS frameworks, he evolved this into [Kickstart](/development/kickstart/), 
          a fully extendible CSS library. Kickstart has been one of Adam's most popular 
          inventions to date. This is about the time he started working with Rails on side projects.

          In New York, he began working for a startup in New Jersey as a UX Developer/Designer.
          In 2012, he lead User Experience design for Debtdomain.com, a loan syndication
          company, later acquired by Ipreo in 2013. By January of 2014, after closely following
          the work of Eric Reis, Joshua Seiden, and Jeff Gotthelf, he started as a designer
          and front end developer at [Neo](http://neo.com), a company founded and/or 
          operated by all three. There he worked as a Designer and Full Stack Developer, finally
          working on projects as a bonafide Rails engineer.

          In 2015, Sylviane and Adam decided to move to the Silicon Valley to be closer to
          family and work. Shortly after moving, he starting working at Apple where he is now a
          Software Engineer in Retail Technology.

      aside
        h1 Social media
        ul
          li 
            a(href="https://twitter.com/nicegoingadam") @NiceGoingAdam
          li
            a(href="https://github.com/adamjgrant") GitHub
          li
            a(href="https://www.linkedin.com/pub/adam-grant/85/717/4") LinkedIn
          li
            a(href="https://adamgrant.me") adamgrant.me
          li
            a(href="mailto:hello@adamgrant.me") hello@adamgrant.me
          li
            a(href="http://stackoverflow.com/users/393243/adamjgrant") StackOverflow

        h1 Publications
        ul
          li: a(href="http://www.neo.com/2014/08/25/how-i-made-email-links-suck-less") How I made Email Suck Less, Neo.com (2014)
          li: a(href="http://uxmovement.com/thinking/the-5-biggest-interface-screw-ups-of-2010/") The 5 Biggest Interface Screw ups, UX Movement (2010)
          li: a(href="http://www.usertesting.com/blog/2012/04/24/10-high-impact-usability-improvements-part-1/?goback=%2Egde_3974323_member_110220446#%21") 10 High Impact Usability Improvements, UserTesting.com (2010)
