extends ../../_page

block page-content
  :markdown
    # Neo

    ## Build, Measure, Learn

    After my time at Ipreo, evangelizing the promises of Lean User Experience,
    I decided to work for the people who literally wrote the book on it.

  +img('ne-lean-ux', 'snug')

