extends ../../_page

block page-content
  :markdown
    # Neo

    ## Build, Measure, Learn

    After my time at Ipreo, evangelizing the promises of Lean User Experience,
    I decided to work for the people who literally wrote the book on it.

  +img('ne-lean-ux', 'snug')

  :markdown
    Neo began as a consultancy based heavily on the principles of Eric Ries
    (a founder of the company) and his book The Lean Startup.

    At Neo, we helped large companies to innovate by organizing small, colocated,
    cross-functional teams within the company. Essentially, these were startups
    inside a corporation.

