extends ../../_page

block page-content
  div(class="render" data-page-id="1000")

  p The best offering you have of your own personal wisdom to pass on to the next generation.
  p 10 chapters of your choosing. No more, no less.
