extends ../../_page
include ../../_mixins

block page-content
  :markdown
    # KBash

  p I love the command line. Once you get used to it, you'll find it's a far more efficient way to work than through a GUI. I wanted to provide a monolithic, extendible command line for the web. This would take the standard UNIX syntax and convert it into structured JavaScript properties to be processed by a function.
  +img('kbash', 'right')
  p 
    | For example, the command&nbsp;
    code createalert 'Welcome' -d --small
    |  contains a command, argument, option, and property. It would be processed by this function:
  p 
    pre kbash.createalert = function(args, opts, props) { ... }
  p From then on, it's just plain JavaScript coding.
  p For the display of the terminal itself, I relied heavily on CSS3 to create a realistic blinking cursor, and JavaScript to bind keys. 
  p The terminal also supports history in the same way as a UNIX terminal--the arrow up key.
  p While I haven't pursued the project much further, I can see it being useful for JavaScript testing.
