extends ../../_page

block page-content
  h1 Ske.dj
  +img('skedj', 'snug')
  p By the time I started with Skedj, they were already employing programmers and had already hired a designer to establish the look-and-feel of the site. My role was mainly to maintain a programmed UI Kit and to make UX and usability decisions on their desktop and mobile app.
  +img('sk_wireframe', 'snug')
  p
    em One such solution to a dropdown menu on a fixed menubar. The previous menu had too much vertical space which put it at risk of hiding out of reach on smaller screens.

  p Although the designers and programmers had established this look in the website already, there was still more work to do and not much of the code was reusable.

  p I created design classes for the various elements which could be mixed with other classes to create a large library of consistent design options
  p For example the "button" class would create a generic button, but "green" would color button and other similar elements the branded green (This is better than having a single "green button" class). Additional classes and a little markup would give buttons dynamic effects like growing larger on hover.

  +img_clover(['sk_fittsslaw-01', 'sk_fittsslaw-02', 'sk_fittsslaw-03', 'sk_fittsslaw-04', 'sk_fittsslaw-05', 'sk_fittsslaw-06'])
  p
    em A series of Fitts's law measurements to determine the optimal placement for a submenu link.
  p Other parts of my role involved basic decision-making and UX direction for the app. As the site gradually approached its launch, we were scrambling to finish up concepts for both the iPhone app and some unbuilt but essential screens.
  p After several delays, Ske.dj finally launched. I still use it to track when my favorite commedians and musicians are coming to NYC.
