extends ../../_page

block page-content
  div(class="render" data-page-id="50")

  p My first mobile-ready project didn't look as you might expect. I was crazy about a device called the Cassiopeia A21S. It was handheld and looked like a little laptop computer. It had a full keyboard, WindowsCE 1.0, a greyscale screen with no backlight, a Compact Flash port, and a stylus.
  p The device was intended to be introduced alongside the A21T. "S" was for "student" and "T" was for teacher. Casio thought classrooms would integrate the devices and somehow leverage modern technology for classroom instruction. They didn't fare well in the market but enough of them existed that I managed to grab a heavily discounted one on Ebay.
  p Unfortunately, there wasn't much you could do on the device, even by standards of the day. The A21S came with Word, Excel, and PowerPoint for WinCE, but they were ridiculously dumbed-down.
  h2 My first mobile website
  p What interested me more was InternetExplorer CE, which could open html files just as well as the real Internet Explorer (of the time) and used the same handling for URL syntax.
  p I discovered that the code for the website could actually be written in the url itself. I don't know if this is still possible, but by simply prefixing the code with "about:" and escaping characters as needed, nonexistent websites could be sent with the URL alone. This is similar to encoding an image in base64 in an img tag.
  p I made small websites that looked great on the A21S, Palm Pilot, and iPAQs (Google those.) The added bonus of the ones I created, mostly to show off to my friends, was that they loaded instantaneously, even on a 56k connection. As soon as they had the link in their email inbox, they already had the website downloaded. Of course, other subsequent pages were real .html files.
