extends ../../_page

block page-content
  div(class="render" data-page-id="700")

  :markdown
    When creating YesNo.vote, I wanted to create a website that catered to a core desire of using the internet...arguing!
