extends ../../_page

block page-content
  div(class="render" data-page-id="700")

  :markdown
    When creating YesNo.vote, I wanted to create a website that catered to a core desire of using the internet...arguing!

    # Constraints

    YNV is easy to understand. It's just people taking one of two sides on an issue and arguing. But once
    you get into the mechanics of how this application should work and how it wants to make you feel, the weeds of
    design constraints start to crop up.

    ## Employee #0.5

    First and foremost there are hard practical constraints such as the fact this is a less than one man operation.
    That means, I'm the sole employee of the product...but I also have a day job. The mechanics of YNV need to be
    such that it can run on its own as much as possible. When this isn't done well, users come to the site having
    to sift through a lot of junk information to get to what they really need. But more on that later.

    For similar reasons, the costs of operating the site need to be cheap or free.

    ## Free Speech

    At the time of this writing, issues cannot be created by users. I wanted to control for quality over quantity
    so starting with a few good polarizing topics seemed like a good place to start. However, quality can only
    be assured up to a point and this is the Internet we're talking about. Eventually, the application will
    attract users with highly controversial, plainly offensive viewpoints.

    As difficult as it is to open the door to these kinds of users, it's a needed component to display a spectrum
    of opinions. I needed to find a way, through design and copy, to display controversial user-created content
    without actually supporting the viewpoint.

    ## Readability

    User rants are an enemy of the ability to skim and quickly process many viewpoints. I needed to ask myself
    whether or not more boundaries should be put in place for users to get to their point in fewer words or
    offer fields in which they could summarize their points. For example, I wouldn't want one user to write a book
    and end up pushing down other, shorter opinions below his or hers. On the other hand, I wouldn't want
    to truncate the messages in such a way that their positions are hard to grasp with what is visible.

    ## Subscription

    YNV should open itself to dialogue. This means users need to know when they're being addressed by other
    users on the site. This brings the application to the classic problem of how best to keep users
    subscribed to their own activity without annoying them.

    # Branding

    # Motivating behavior

    # UI Design
