img.img-responsive(src="/img/sk_wireframe.png")
img.img-responsive(src="/img/sk_fittsslaw-01.png")
img.img-responsive(src="/img/sk_fittsslaw-02.png")
img.img-responsive(src="/img/sk_fittsslaw-03.png")
img.img-responsive(src="/img/sk_fittsslaw-04.png")
img.img-responsive(src="/img/sk_fittsslaw-05.png")
img.img-responsive(src="/img/sk_fittsslaw-06.png")
