extends ../../_page
include ../../_mixins

block page-content
  :markdown
    # Campaign Breeze

    CB hired me to work through the asthetics and workflow of an upcoming email campaign tool.
    
    The campaign builder had to pack a lot of functionality into a user-friendly menu. Users were not just creating custom emails but the templates other users (e.g. employees within the users' companies) would use to make emails repetitively.
    
    One of the first things I like to do on such a project is to create a UI Kit.
    
  +img('cb_uikit', 'right')
