extends ../../_page

block page-content
  p Somehow, my father always found himself with the latest copies of the Windows operating system and various popular software products for it.
  p With my fancy new 600K processor Compaq Pavillion computer, my father armed me with a copy of Symantec's VisualPage. Visual Page was a now discontinued application for creating very basic HTML pages. Its functionality today is akin to a rich text editor.
  
  +img("ed_visualpage", 'right')
  
  p I thought it was great how I could create as many pages as I wanted and fill them up to my hearts content. As long as there was enough space on my father's ftp server, I could create the website of my dreams.
  p I wanted to create something useful to humanity. I also wanted my initial work to grow over time. Somehow, I came up with the concept of an online encyclopedia. This was before the launch of Wikipedia in 2001.
  p Each page was, not surprisingly, very simple. Text was stacked on top of each other, separated by horizontal lines and h1 tags.
  p In case you're wondering, I don't consider Wikipedia a copy of my idea in any way. My site asked users to email me if they had something to add and didn't see enough users to be copied in the first place.
  p It's nice to think that in some small way, I created it first. :)
