extends ../../_page

block page-content
  div(class="render" data-page-id="350")
  +img('ne-lean-ux', 'right')
  :markdown
    After my time at Ipreo, evangelizing the promises of Lean User Experience,
    I decided to chase down the people who were literally writing the books on it.

    Neo began as a consultancy based heavily on the principles of Eric Ries
    (a founder of the company) and his book The Lean Startup as well as Lean UX by
    Jeff Gothelf and Joshua Seiden (also at the company).

    At Neo, we helped large companies to innovate by organizing small, colocated,
    cross-functional teams within the company. Essentially, these were startups
    inside a corporation.

    My official role at Neo was as a Designer, however I greatly shared this role
    with full stack development.

  .clearfix 

  +img('ne-table', 'snug')

  :markdown
    At Neo, I was happily shuffling between pairing on full stack Rails applications,
    whiteboarding with product managers, and meeting face-to-face with clients to
    evolve the product.

    Neo doesn't like to think of itself as a dev shop, and rightly so. Per Lean methodology,
    our goal was to fail fast, iterate, pivot and kill where needed, and evolve a product based on
    learnings along the way.

  +img('ne-little-bits', 'snug')

  :markdown
    Each day oscillated between sketching out a user's journey, testing prototypes with real people,
    implementing/creating high fidelity designs, and building a full stack application.

  +img('ne-lunch', 'snug')

  :markdown
    ## AskAlexis

    One of our more well-known projects was executed by myself and my colleague Nicole.

    [AskAlexis](http://askalexis.io) is an SMS-based service primarily used by men where
    the "Alexis" personality answers questions about dating, romance, grooming, etc.

    Using Rails and my own CSS library, [Kickstart](/development/kickstart), we quickly
    built a single landing page with the invitation to sign up with just a phone number.

  +img('ne-ask-alexis', 'snug')
  +img('aa_new_screenshot', 'snug')
  p
    em (Above) AskAlexis, early homepage screenshot, (below) AskAlexis, latest homepage screenshot.

  :markdown
    Read more in [Ask Alexis](/mobile/ask-alexis/)
