extends ../../_page

block page-content
  :markdown
    # Neo

    ## Build, Measure, Learn

    After my time at Ipreo, evangelizing the promises of Lean User Experience,
    I decided to work for the people who literally wrote the book on it.

  +img('ne-lean-ux', 'snug')

  :markdown
    Neo began as a consultancy based heavily on the principles of Eric Ries
    (a founder of the company) and his book The Lean Startup.

    At Neo, we helped large companies to innovate by organizing small, colocated,
    cross-functional teams within the company. Essentially, these were startups
    inside a corporation.

    My official role at Neo was as a Designer, however I greatly shared this role
    with full stack development.

  +img('ne-table', 'snug')

  :markdown
    At Neo, I was happily shuffling between pairing on full stack Rails applications,
    whiteboarding with product managers, and meeting face-to-face with clients to
    evolve the product.

    Neo doesn't like to think of itself as a dev shop, and rightly so. Per Lean methodology,
    our goal was to fail fast, iterate, pivot and kill where needed, and evolve a product based on
    learnings along the way.

  +img('ne-little-bits', 'snug')

  :markdown
    Each day oscillated between sketching out a user's journey, testing prototypes with real people,
    implementing/creating high fidelity designs, and building a full stack application.

  +img('ne-lunch', 'snug')

  :markdown
    ## AskAlexis

    One of our more well-known projects was executed by myself and my colleague Nicole.

    [AskAlexis](http://askalexis.io) is an SMS-based service primarily used by men where
    the "Alexis" personality answers questions about dating, romance, grooming, etc.

    Using Rails and my own CSS library, [Kickstart](/development/kickstart), we quickly
    built a single landing page with the invitation to sign up with just a phone number.

  +img('ne-ask-alexis', 'snug')

  :markdown
    Meanwhile, I set to work quickly building a makeshift backend where we could organize
    and respond to messages coming in.

    Usually we roll this sort of thing out to a few users, just to get a bit of learning
    before investing too much work into it.

    **We hadn't anticipated on it going viral.**

  +img('
