extends ../../_page
include ../../_mixins

block page-content
  :markdown
    # Email Meta

    Sit down and have enough beers with me and I'll tell you all my evil plans to redo email as we know of it.
    
    Email meta is the only non-code project I have on this page only because its ultimate implementation in code is not part of my labor.
    
    This is instead a working document to establish a protocol email systems can use to identify their emails as one of a type. 
    
    In other words, not all emails are messages.  Emails today come in the form of account confirmations, notifications, newsletters, and even storage. Email meta suggests that emails can simply add a few meta tags to their HTML to indentify their type. By doing so, email get more attention from the sendees and are better sorted for users.
