extends ../../_page

block page-content
  div(class="render" data-page-id="100")
  p LED media was an ambitious company when they found me. The business already had telemarketers, business analysts, and social media experts but relied on one-off contract jobs to build its three concurrently-launching websites.
  +img('led_cb2', 'snug')
  p
    em Detail from one of the UI redesigns made for CharityBlooms
  p The three websites were CharityBlooms, ChurchBlooms, and Tee-Links. The former two allowed patrons of churches and charities to register and donate a percentage of their purchase from purchases on 1800Flowers.com.
  p Tee-Links is a discount golfing website where users can find exclusive pricing on golf outings at major clubs in Florida.
  p Needless to say, being hired as their single technical employee was an overwhelming task. I managed to get the company on source control, fixed the front end code, wrote Wordpress and Magento extensions, and vetted further contract work.
  p Eventually, we were able to hire another programmer and I shifted more of my focus to UX so I could work between the business and development side.
  +img('led_tee-links', 'snug')
  p
    em Final mockup for Tee-links.com, which has now undergone further revisions by another designer.
  p I showed the company how we could better make the pages "digestible." Many of the design decisions were based on the words "this is important" causing every piece of the page to be crammed into the top. We reworked the layouts into a more logical flow by considering how users were being introduced to the page and where they were accustomed to finding certain elements.
  p For example, in the mockup above, I moved the social media links from the top to the bottom because users aren't likely to start following a page before they know what it's for. It's not worth cramming these into the top of the page.
  p At the end of my work at the company, it was rewarding to see sales coming in on a website I helped build. 
