
<div class="container">
  <div class="row">
    <div class="col col-md-10 col-md-offset-1"><br/>
      <div class="page-header"><img src="/img/hex-{{selectedCategory().slug}}.png" class="img-responsive pull-right page-header-img"/>
        <h1>{{selectedCategory().name}}</h1>
      </div>
      <p class="lead">{{selectedCategory().lead}} </p>
      <p>{{selectedCategory().desc}}</p>
    </div>
  </div><br/>
  <div ng-repeat="project in projects | filter: {category: selectedCategory().slug}" class="row">
    <div class="col col-md-8 col-md-offset-1">
      <div ng-click="setLocation(slug(project.category))" class="tl-spine">
        <div class="tl-spine-dot tl-spine-dot_employer">
          <div class="tl-spine-dot-marker img-rounded"></div>
          <h1 id="{{slug(project.name)}}">{{project.name}}<br/><small>{{project.year}}</small></h1>
          <div class="pr-img pr-img_featured img-responsive pr-img_{{slug(project.name)}}"></div>
          <div class="clearfix"></div><br/>
          <p>{{project.shortDesc}}</p>
          <p class="text-muted">{{project.technologies}}</p>
          <div ng-include="projectLongDesc(project)"></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>