
<div ng-controller="ProjectsCtrl">
  <div id="timeline"></div>
  <div ng-repeat="project in projects | filter: {duplicate: false}" class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div ng-click="setLocation(slug(project.category))" class="tl-spine pointer">
        <div ng-hide="project.employer" class="tl-spine-dot"> 
          <div class="tl-spine-dot-marker img-rounded"></div>
          <h4><a href="#/{{slug(project.category)}}" class="pointer">{{project.name}}</a><br/><small>{{project.year}}</small></h4>
        </div>
        <div ng-show="project.employer" class="tl-spine-dot tl-spine-dot_employer"> 
          <div class="tl-spine-dot-marker img-rounded"></div>
          <div class="pr-img pr-img_featured img-responsive pr-img_{{slug(project.name)}}"></div>
          <h1><a href="#/{{slug(project.category)}}" class="pointer">{{project.name}}</a><br/><small>{{project.year}}</small></h1>
          <p>{{project.shortDesc}}</p>
          <p class="text-muted">{{project.technologies}}</p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>