extends ../../_page

block page-content
  div(class="render" data-page-id="380")

  p I've always been fascinated with the technology behind bitcoin, but frustrated by how user un-friendly it all is.
  +img('btc0001', 'snug')
  p
    a(href="http://imgur.com/a/sp1sT") See all bills
  p
    a(href="http://adamjgrant.github.io/bitcoinbills/") View the project
  p
    a(href="https://github.com/adamjgrant/bitcoinbills") On GitHub
  p I quickly learned the best way to keep my bitcoins was on cold storage--paper wallets. This means your bitcoins are associated with a set of keys that are printed on paper. This kind of storage is "cold" because these keys are not stored electronically, where they could be accessed by hackers.
  p This method works very well, but I knew we still needed some solution for everyday spending so bitcoin could be more than a commodity; something that could actually be used at a point of sale.

  +img_clover(['btc0002', 'btc0010', 'btc0050', 'btc0100', 'btc0500', 'btc1000', 'btc5000', 'btc10000', 'btc50000', 'btc'])

  p By keeping bitcoins stored over many different bills in differing denominations, it limits a theif's ability to steal your coins (In the same way carrying a bunch of 20s is better than a 100 dollar bill.)
  p This project remains an open source project for any developers to make their own equipment that uses these designs. So far, Jeff Hockema of
    a(href="https://encryptedbitcoinwallet.com/") EncryptedBitcoinWallet.com
    |  has taken me up on this, offering these designs as an option for printing (Update: No longer available).
