extends ../../_page

block page-content
  h1 AskAlexis

  p AskAlexis is a very new project of mine, developed at Neo and originally the idea of my fellow Neon Nicole Rufuku.
  p As this is a new project that we're still evolving, there's not a whole lot I'm ready to say about it now, but I can say it was a blast to finally get my feet wet with ReactJS and further sharpen my Rails abilities.
  
  h2 Everyday advice from a woman who knows
  p Alexis isn't an app, but an actual human being you can text for everyday advice. Some of our users ask her about date ideas, others are going through very difficult moments in their lives and need real help with problems they're facing.

  h2 About the technoloy
  p Although the only app end users have to use is their default messaging app on their phone, we wanted to quickly build a sophisticated administration panel that allowed Alexis to give dedicated time to her users.
  p For this reason, I thought it was a good time to give ReactJS a try.
