extends ../../_page
include ../../_mixins

block page-content
  :markdown
    # RogerToons
    
    In high school, Peter (Jay) Knapp, Daniel Ryan Carter, and I collaborated on what was to become a 20 minute pilot cartoon called RogerToons. We were hoping to actually submit it to a major television network. After an entire summer of meticulous animation, Only 3-4 minutes were completed. Here it is in all its glory.
    
  iframe.center-block(src="//www.youtube.com/embed/w0RVktH_3Ro" frameborder="0" allowfullscreen style="width: 320px; height: 200px")
    
  :markdown
    I found the biggest CRT monitor I could find and propped it on its side to use it exclusively to display Flash's timeline and my many layers. My other monitor was used as the artboard, controlled by a small Wacom tablet.
    
    The intro music was recorded by Daniel Ryan Carter (who also developed audio for my About.com videos) and I recorded some transition music with guitar, mandolin, and banjo.
    
    You'll notice there was an animation problem at the end. Unfortunately, I don't have the original files.
