p 
	em This is an ongoing project. Will be updating regularly.
p I'm convinced the Internet of Things (IoT) is coming. Gone are the days where only our phones, tablets, and computers are connected to the internet. Internet connectivity devices are getting smaller and cheaper while our need to be online only increases.
p I've also seen some growth in Near Field Communication (NFC) and Bluetooth devices. However, these technologies sandbox the control of physical products into a small physical radius and the own product's ecosystem. I'm betting Everything.io on the use of Internet-connected chipsets that communicate over websockets.
p I've also noticed the "smart products" you can buy today each have their own mobile app to use them. If I'm correct about the number of these devices increasing, this means we'll need to have several apps to control our possessions.
p Everything.io seeks to streamline this by creating one single platform for all your connected and non-connected devices.
h3 The Technology
.row
	.col.col-md-4
		img.img-responsive(src="/img/eio_breadexpiring.png")
	.col.col-md-4
		img.img-responsive(src="/img/eio_autoorder.png")
	.col.col-md-4
		img.img-responsive(src="/img/eio_umbrella.png")
.clearfix
br
p The frontend of EIO is built in Kickstrap 2 with the Bootstrap framework removed. This empowers the site to work more as an app. All data is manipulated and displayed in real time without the need to refresh the screen. In addition, Angular.js completes the job by binding the UI as an MVC. This very portfolio is also built in Kickstrap 2. Notice how quickly navigation occurs.
p Because I'm so early in the project, there are still a lot of technology decisions to make. I'm looking at AWS for SMS-sending ability, Ruby on Rails for backend functionality which cannot be achieved through Firebase, and the Raspberry Pi for prototyping its first devices.