
<p>I've always been fascinated with the technology behind bitcoin, but frustrated by how user un-friendly it all is.</p>
<p>
  <div class="thumbnail"><img src="/img/btc0001.png" class="img-responsive"/>
    <div class="caption">Users can tap on a card to bring it into view.</div>
  </div>
</p>
<div class="clearfix"></div><br/>
<p><a href="http://imgur.com/a/sp1sT">See all bills</a></p>
<p>I quickly learned the best way to keep my bitcoins was on cold storage--paper wallets. This means your bitcoins are associated with a set of keys that are printed on paper. This kind of storage is "cold" because these keys are not stored electronically, where they could be accessed by hackers.</p>
<p>This method works very well, but I knew we still needed some solution for everyday spending so bitcoin could be more than a commodity; something that could actually be used at a point of sale.</p>
<div class="row">
  <div class="col col-md-6"><img src="/img/btc0002.png" class="img-responsive"/></div>
  <div class="col col-md-6"><img src="/img/btc0010.png" class="img-responsive"/></div>
  <div class="col col-md-6"><img src="/img/btc0050.png" class="img-responsive"/></div>
  <div class="col col-md-6"><img src="/img/btc0100.png" class="img-responsive"/></div>
  <div class="col col-md-6"><img src="/img/btc0500.png" class="img-responsive"/></div>
  <div class="col col-md-6"><img src="/img/btc1000.png" class="img-responsive"/></div>
  <div class="col col-md-6"><img src="/img/btc5000.png" class="img-responsive"/></div>
  <div class="col col-md-6"><img src="/img/btc10000.png" class="img-responsive"/></div>
  <div class="col col-md-6"><img src="/img/btc50000.png" class="img-responsive"/></div>
  <div class="col col-md-6"><img src="/img/btc.png" class="img-responsive"/></div>
</div><br/>
<p>By keeping bitcoins stored over many different bills in differing denominations, it limits a theif's ability to steal your coins (In the same way carrying a bunch of 20s is better than a 100 dollar bill.)</p>
<p>This project remains an open source project for any developers to make their own equipment that uses these designs. So far, Jeff Hockema of <a href="https://encryptedbitcoinwallet.com/">EncryptedBitcoinWallet.com</a> has taken me up on this, offering these designs as an option for printing.</p>