extends ../../_page

block page-content
  div(class="render" data-page-id="1200")

  p I amuse myself and often annoy others with an "announcer voice" skill I discovered. So I figured, why not get into voice acting?
