extends ../../_page

block page-content
  include ../../_mixins.jade
  
  :markdown
    # mailto.ninja

    While at Neo, I noticed a lot of our MVPs required us to get information from users in some way. As MVPs, we didn't always have the time to build out database-supported systems or mailing applications.
    
    Some of our products were so (intentionally) simple, they consisted of nothing more than a landing page. Our solution to this was to create a "mailto" link. This is simply a hyperlink that triggers your default mail client to open up. These links can also prepopulate to, from, subject, and body fields.
    
    Unfortunately, lots of users including myself find this very irritating when you use a web app, rather than a native mail app to correspond.
    
  +img('mailtoninja01')

  :markdown
    After chatting with some of my colleagues, I noticed I wasn't alone, they just hated iMail opened after clicking a "contact us" link.
    
    Normally the solution was to fire up a Rails project and customize a mailer flow. I wasn't satisfied. I thought the solution could be simplified down to a single JavaScript file that could be dropped into something as simple as a single HTML file.
    
  +img('mailtoninja02')
    
  :markdown
    My approach was to allow developers to write their "mailto" link just as they had before, and let the JavaScript do the rest.
    
    The beauty of this approach was the default mailto link would still work as normal in the event something went wrong with the JavaScript implementation.
    
    When it worked, a CDN-hosted JS and CSS file were loaded that quietly transformed the link into an event trigger, opening a nice, simple mailing modal.
    
  +img('mailtoninja03')
  
  :markdown
    After the user sends the email, the message details are sent over https to my mailto.ninja server which processes the message for sending.
